.construction-frame {
    border: dimgrey 1px solid;
    position: relative;
    max-width: 850px;
}

.construction-frame .simple-label-with-caption .simple-label {
    font-size: 0.9rem;
}

.construction-image {
    position: absolute;
    top: 15px;
    right: 15px;
}

.productionTargetContainer::after {
    content: "";
    clear: both;
    display: block;
}

[class*="to-shrink"] {
    float: left;
}
