#sb-dialog {
    margin: 15px;
}

.sb-dialog-header {
    height: 35px;
    width: 100%;
    border-bottom: 1px solid dimgrey;
    margin-bottom: 15px;
}

.sb-dialog-close {
    position: absolute;
    top: 0;
    right: 0;
}

.sb-dialog-button-bar {
    border-top: 1px solid dimgrey;
    height: 50px;
    width: 100%;
    margin-top: 15px;
}

.sb-dialog-cancel {
    position: absolute;
    right: 0;
    bottom: 7px;
}

.sb-dialog-submit {
    position: absolute;
    right: 75px;
    bottom: 7px;
}

